body {
    margin: 0;
    padding: 0;
    background: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;

}

.input {
    position: fixed;
    top: 50%;
    left: 650px;
    transform: translate(-30%, -50%);
    background: rgba(150, 145, 216, 0.9);
    padding: 50px;
    width: 270px;
    border-radius: 15px;
}

.input h1 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 2px;
    padding-top: 0;
    margin-top: -20px;
}

.box-input {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 2px solid white;
    padding: 8px 0;
}

.box-input i {
    font-size: 15px;
    color: rgb(112, 7, 7);
    padding: 5px 0;
}

.box-input input {
    width: 85%;
    padding: 5px 0;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.box-input input::placeholder {
    color: white;
}

.btn-input .box-input input:hover {
    background: rgba(10, 10, 10, s 0,5);
}

.btn-input {
    margin-left: 10px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid white;
    width: 92.5%;
    padding: 10px;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all .2s;
    border-radius: 10px;
}

.btn-input:hover {
    background: black;
}

.bottom a {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.bottom a:hover {
    text-decoration: underline;
}